<%= form_for(@trade_history) do |f| %>
  <% if @trade_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_history.errors.count, "error") %> prohibited this trade_history from being saved:</h2>

      <ul>
      <% @trade_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :sell_ratio %><br>
    <%= f.number_field :sell_ratio %>
  </div>
  <div class="field">
    <%= f.label :buy_ratio %><br>
    <%= f.number_field :buy_ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
