<p class="text-success" id="notice"><%= notice %></p>

<div class="pull-left">
  <h3 class="c-page-title">策略列表</h3>
  <h5 class="c-page-title">交易币种余额为<%=get_currency_num(params[:task_id])%></h5>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>触发价</th>
      <th>触发比例</th>
      <th>市场价</th>
      <th>交易个数</th>
      <th>交易比例</th>
      <th>交易类型</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.trigger_price_lower %>-<%= policy.trigger_price_upper %></td>
        <td><%= policy.trigger_ratio %></td>
        <td><%= policy.market_price %></td>
        <td><%= policy.change_num %></td>
        <td><%= policy.change_ratio %></td>
        <td class="<%=color(policy[:change_type])%>"><%= policy.change_type %></td>
        <td class="c-operations c-word-keep-all">
          <%= link_to '编辑', edit_task_policy_path(policy.task, policy) %>
          <%= link_to '删除', task_policy_path(policy.task, policy), method: :delete, data: { confirm: '确认删除?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'form', :locals => { url: task_policies_path(params[:task_id]) }%>

<p style="margin-top: 20px;">
  <%= link_to '返回', tasks_path %>
</p>